/*** Color palette start*/
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;


    --bs-primary: #171717;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #ece9df;
    --bs-dark: #1a1a1a; /* Dark grey (almost black) */
}
/*** Color palette end***/


.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.5s;
    z-index: 99;
}

/*** Background start ***/
body {
    font-family: "Elite Special", system-ui;
    background: url('../img/Fondo_liso.jpg') no-repeat center center fixed;
    background-size: cover;
}
/*** Background End ***/

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 40px;
    height: 40px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-xl-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.btn-primary {
    background: var(--bs-primary);
    color: var(--bs-white);
    border: none;
}

.btn.btn-primary:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.btn.btn-light {
    color: var(--bs-primary);
    border: none;
}

.btn.btn-light:hover {
    color: var(--bs-white);
    background: var(--bs-primary);
}


.pt-6 {
    padding-top: 60px;
}

.ps-6 {
    padding-left: 60px;
}

.pe-6 {
    padding-right: 60px;
}

.pb-6 {
    padding-bottom: 60px;
}


.sub-title {
    font-family: "Special Elite", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.text-white {
    color: #f8f9fa !important;
    font-family: "Special Elite", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container-fluid {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
}

@media (min-width: 992px) {
    .container-fluid::before {
        content: "";
        position: absolute;
        width: 30%;
        height: 100%;
        top: 0;
        left: 0;
        background: #1a1a1a;
        z-index: -1;
    }

    .container-fluid .header-content,
    .container-fluid .about-header,
    .container-fluid .education-header,
    .container-fluid .experience-header,
    .container-fluid .skills-header,
    .container-fluid .service-header,
    .container-fluid .portfolio-header,
    .container-fluid .blog-header,
    .container-fluid .testimonial-header,
    .container-fluid .contact-header {
        position: relative;
        background-color: #1a1a1a !important; /* Dark grey (almost black) */
        color: #fff !important; /* Ensure text is readable */
        border: none !important;
        margin: 0 !important;
        padding-right: 25px;
    }
}

@media (max-width: 991px) {
    .container-fluid {
        border: none;
    }

    .container-fluid .header-content,
    .container-fluid .about-header,
    .container-fluid .education-header,
    .container-fluid .experience-header,
    .container-fluid .skills-header,
    .container-fluid .service-header,
    .container-fluid .portfolio-header,
    .container-fluid .blog-header,
    .container-fluid .testimonial-header,
    .container-fluid .contact-header {
        padding: 25px;
        background-color: #1a1a1a !important; /* Dark grey (almost black) */
        color: #fff !important; /* Ensure text is readable */
    }

    .container-fluid .header-img,
    .container-fluid .about-content,
    .container-fluid .education-content,
    .container-fluid .experience-content,
    .container-fluid .skills-content,
    .container-fluid .service-content,
    .container-fluid .portfolio-content,
    .container-fluid .blog-content,
    .container-fluid .testimonial-content,
    .container-fluid .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        margin-left: calc(15%);
    }
}

.bg-dark {
    background-color: #1a1a1a !important; /* Dark grey (almost black) */
    color: #fff !important; /* Ensure text is readable */
}

/*** Text start ***/ 
.text-body {
    color: var(--bs-dark) !important;
    background: url('../img/papel_blanco.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding: 5%;
    margin-top: auto;
    filter: drop-shadow(0.1vw 0.1vw 00.1vw var(--bs-dark));
}

.drop-shadow {
    filter: drop-shadow(0.1vw 0.1vw 00.1vw var(--bs-dark));
}

.centered-section-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.text-header {
    color: var(--bs-dark) !important;
    font-size: 500% !important;
}

.text-big {
    color: var(--bs-dark) !important;
    font-family: "Special Elite", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 200%;
    text-size-adjust: auto;
}

.text-special {
    font-family: "Special Elite", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-secondary {
    font-size: 150%;
    margin-bottom: 15px !important;
}

.text-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    /* margin-left: calc(15%); */
}

.text-footer {
    color: var(--bs-white) !important;
    font-family: "Special Elite", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-credits {
    color: var(--bs-secondary) !important;
    font-size: smaller !important;
}

/*** Navbar Start ***/
.nav-section {
    position: relative;
}

.nav-section .navbar {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    right: calc(40px - 100%);
    transform: translateY(-50%);
    z-index: 99;
}

.navbar.navbar-light {
    background: transparent;
    width: 100%;
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-nav .nav-link {
    width: 100%;
    display: flex;
    align-items: center;
    
}

.navbar-nav .nav-link span {
    width: 40px; 
    height: 40px;
    margin-right: 8px;
    border-right: 1px solid rgba(0, 0, 0, .08);
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--bs-body);
    transition: 0.5s;
}

.nav-section .navbar .navbar-nav .nav-item {
    height: 40px;
    padding: 0;
    margin-bottom: 3px;
    border: 1px solid rgba(0, 0, 0, .08);
    background: var(--bs-white);
    color: var(--bs-body);
    font-size: 14px;
    font-weight: 700;
    transition: 0.5s;
}

.nav-section .navbar .navbar-nav .nav-item:hover {
    margin-right: calc(100% + 50px);
    color: var(--bs-primary);
}
/*** Navbar End ***/


/*** About Start ***/
.about-content .about-img {
    display: block;
    margin: 0 auto;
    max-width: 100%; 
    height: auto;    
    padding-top: 20px;
    margin-left: calc(15%);
}

.about-img img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin: 50px;
    /* margin-left: calc(50%); */
}

/*** About End ***/


/*** Portfolio Start ***/
.portfolio-content .portfolio-item .portfolio-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.portfolio-item .portfolio-img .portfolio-img-inner {
    display: flex;
    align-items: center;
    justify-content: end;
    background: var(--bs-light);
}

.portfolio-item .portfolio-img .portfolio-img-inner img {
    display: flex;
    align-items: center;
    justify-content: end;
    border: var(--bs-primary) 15px solid;
}

.portfolio-content .portfolio-item .view-img {
    display: flex;
    align-items: center;
    justify-content: end;
}

.portfolio-content .portfolio-item .portfolio-img .portfolio-img-inner {
    visibility: visible;
    transition: 0.5s;
}

.portfolio-content .portfolio-item:hover .portfolio-img .portfolio-img-inner {
    visibility: visible;
    transform: rotate(-6deg);
}
/*** Portfolio End ***/


/*** Testimonial Start ***/
.testimonial-carousel {
    position: relative;
    transition: 0.5s;
    color: var(--bs-dark);
    display: block;
    margin: 50px auto; /* Centers the element horizontally */
    width: 100%; /* Occupy full width of its container */
    height: auto; /* Maintain the natural height */
    max-width: 1200px; /* Maximum width to prevent it from spanning the entire screen */
}


.testimonial-carousel .testimonial-item {
    padding: 60px;
}

.testimonial-center {
    display: block;
    width: 100%;
    height: auto;
    /* margin-left: calc(15%); */
}

/* Boton izquierda */
.testimonial-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bs-white);
    color: var(--bs-primary);
    transition: 0.5s;
}

/* Boton derecha */
.testimonial-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bs-white);
    color: var(--bs-primary);
    transition: 0.5s;
}

/* Botones hover */
.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.testimonial-carousel .owl-dots {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px 60px 60px;
    transition: 0.5s;
}

@media (max-width: 576px) {
    .testimonial-carousel .owl-dots {
        justify-content: start;
    }
}

.testimonial-carousel {
    background: url('../img/papel_blanco.jpg') no-repeat center center;
    background-size: cover;
    
}

/* Texto */
.testimonial-item .text-left {
    text-align: left;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-left: 25%;
}

/* Botoncito */
.testimonial-item .text-center {
    text-align: center;
}


/* Imagen grande de arriba */
.testimonial-carousel .border-primary {
    border-color: var(--bs-primary) !important;
}

/* Imágenes pequeñas de abajo */
.testimonial-carousel .owl-dots .owl-dot img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border: 3px solid var(--bs-gray);
    transition: 0.5s;
}

/* Imagen pequeña de abajo ACTIVA */
.testimonial-carousel .owl-dots .owl-dot.active img {
    width: 70px;
    height: 70px;
    border: 3px solid var(--bs-primary);
}
/*** Testimonial End ***/


/*** footer Start ***/
@media (max-width: 991px) {
    .container-fluid .footer-content {
        padding-left: 0;
    }
}
/*** footer End ***/